<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet/less" type="text/css" href="/css/styles.less" />
    <script src='/js/thirdparty/less-1.3.3.min.js'></script>
    <link rel="stylesheet" href="/css/isotope.css"></link>
    <link rel="stylesheet" href="/css/chosen.css"></link>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
</head>
<body>
    <div id="main">
        <div id="header">
        </div>
        <div id="sub_header_div">
            <div id="sub_header_div_inner"></div>
        </div>
        <!-- hardcoded ui for now, soon to be moved to backbone view -->
        <div id="content">
        </div>
        <input id='list' type="hidden" value="<%= JSON.stringify(list) %>" />
        <input type="hidden" id="types" value='["","javascript","coffeescript", "css", "typescript"]'></input>
    </div>
    <div id="hiddenDiv" style="visibility:hidden;"></div>
    <script type="text/template" id="modal-template">
        <div id="dialog" class="card"></div>
    </script>
    <script type="text/template" id="header-template">
        <div class="headerButton decks">Decks</div>
        <div class="headerButton addCard">
            + Card
        </div>
        <div id="filterContainer"></div>
    </script>
    <script type="text/template" id="question-template">
        <div class="flipper">
            <div class="question">
                <i class="icon-question-sign icon"></i>
                <div class="text">
                    {{ question }}
                </div>
            </div>
            <div class="answer">
                <div class="answerInner">
                    <div class="title">What would you like to do?</div>
                    <div class="choice" data-type="delete">Delete</div>
                    <div class="choice" data-type="view">View</div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="card-dialog-template">
        <div class="q">
            {{ question }}
        </div>
        <div class="a">
            {{ answer }}
        </div>
        <div class="close">✕</div>
    </script>
    <script type="text/template" id="create-card-dialog-template">
        <div class="createCardDialogContainer">
            <div class="createCardDialogInnerContainer">
                <div class="createCardDialogScreen">
                    <div class="createCardDialogScreenTitle">
                        What's your question?
                    </div>
                    <div>
                        <textarea id="createCardDialogQuestion" cols="40" rows="4" />
                    </div>
                    <div class="createCardDialogScreenFooter clearFix">
                        <div id="questionContinueButton" class="big_button" style="float:right;margin-top:0;">Continue</div>
                    </div>
                </div>
                <div class="createCardDialogScreen">
                    <div class="createCardDialogScreenTitle">
                        I have an answer.
                    </div>
                    <div>
                        <textarea id="createCardDialogAnswer" cols="40" rows="4"></textarea>
                    </div>
                    <div class="createCardDialogScreenFooter clearFix">
                        <div id="answerContinueButton" class="big_button" style="float:right;margin-top:0;">Continue</div>
                    </div>
                </div>
                <div class="createCardDialogScreen">
                    <div class="createCardDialogScreenTitle">
                        Pick a few categories.
                    </div>
                    <div>
                        <select class="chzn-select" id="createCardDialogCategories" multiple="multiple" style="width:320px;">
                        </select>
                    </div>
                    <div class="createCardDialogScreenFooter clearFix">
                        <div id="categoryFinishButton" class="big_button" style="float:right;margin-top:0;">Finish</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close">✕</div>
    </script>
    <script>
        var viewState = 'personal';
        var App = {
            views : {},
            models : {},
            pubsub : {},
            collections : {},
            service : {},
            utils : {},
            session : {}
        };
    </script>
    <script src="/js/thirdparty/jquery-1.9.0.min.js"></script>
    <script src="/js/thirdparty/chosen.jquery.min.js"></script>
    <script src="/js/thirdparty/jquery.isotope.min.js"></script>
    <script src="/js/thirdparty/underscore-min.js"></script>
    <script>
        _.templateSettings = {
            interpolate : /\{\{(.+?)\}\}/g
        };
    </script>
    <script src="/js/thirdparty/backbone-min.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/start.js"></script>
</body>
</html>