<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet/less" type="text/css" href="/css/styles.less" />
    <script src='/js/thirdparty/less-1.3.3.min.js'></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
</head>
<body>
    <div id="main">
        <div id="header">
            Home
        </div>
        <!-- hardcoded ui for now, soon to be moved to backbone view -->
        <div id="content">
            <div class="cardContainer">
                <div class="question">
                    <i class="icon-question-sign icon"></i>
                    <div class="text">
                        How do you find the intersection of two arrays?
                    </div>
                    <div class="footer">
                        <div class="button">
                            See Answer
                        </div>
                    </div>
                </div>
                <div class="answer">
                    <div class="text">
                        Iterate through the first array, push everything into a hashtable.
                        Iterate through the second array, check every element against the hashtable.
                    </div>
                    <div class="footer">
                        <div class="button dark">
                            Next
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id='list' type="hidden" value="<%= JSON.stringify(list) %>" />
    </div>
    <script>
        var App = {};
    </script>
    <script src="/js/thirdparty/jquery-1.9.0.min.js"></script>
    <script src="/js/thirdparty/underscore-min.js"></script>
    <script src="/js/thirdparty/backbone-min.js"></script>
</body>
</html>